


.bod{
  background-color: black;
  height: 100%;
}

.logo{
  position: absolute;
  padding:auto;
  margin-top: 3px;
  width:190px;
  height:130px;
  border: 10px solid transparent;
  border-width: 2px;
  border-color: pink;
}
.navbar-brand{
  padding-left: 10px;
   
}

.curtain {
  width: 100; /* Ensures the component is the full screen width */
  height: 100vh; /* We're using this for demo purposes */
}
  
.curtain__wrapper {
  
  width: 100%;
  height: 100%;
}
h3{
color:white
}
h4{
color:wheat
}
.header{
  
  text-align:right;
  font-size: 100px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: pink;
}
.header3{
  text-align:center;
  font-size: 50px;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: pink;
}
.bioHeader{
  
  text-align:center;
  padding: 16px;
  font-size: 40px;
  letter-spacing: 3px;
  margin:auto;
  padding:auto;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: pink;
}
.empty{
  padding:auto;
  margin:100px;
}
.me{
  width:300px;
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  border: 10px solid transparent;

  border-color: pink;
  border-radius: 50%;
}
.curtain__panel {
  position: fixed;
  width: 50%; /* Each panel takes up half the container */
  height: 50%; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
  transition: all 1s ease-out;
  background-position: center;
}

.curtain__panel--left {
  
  background-image:url('../images/pattern_website_2_left.png');
  width:50%;
  height:100%;
  background-repeat: no-repeat;
  transform: translateX(-60%);
  background-size: 100%;
  
}
/* Slide the panel to the right out of the container */
.curtain__panel--right {
  
  background-image:url('../images/pattern_website_2_right.png');
  width:50%;
  height:100%;
  background-repeat: no-repeat;
  transform: translateX(60%);
  background-size: 100%;
}
.aboutme{
  
  margin:auto;
  padding-left:30px;
  font-size:100%;
  letter-spacing: 4px;
  color:white;
  border: 5px solid whitesmoke;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
  
}
.links{
 position: static;
 text-align:center;
 z-index: 2;
 left: 0;
  bottom: 0;
  padding: 15px;
  background-color: rgb(17, 29, 29);
}

p{
    
    padding:8px;
    color:black;
    width: 700px;
    
} 


li{
  color:white;
}

  
.curtain__prize {
  
  background-repeat: no-repeat;
  
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-position: center;
  background-size: 100%;
}

input[type=checkbox] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  width: 100%; /* The checkbox is as wide as the component */
  height: 100%; /* The checkbox is as tall as the component */
  z-index: 100; /* Make sure the checkbox is on top of everything else */
  opacity: 0; /* Hide the checkbox */
}
input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}
        
/* Slide the second panel in */
input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}
@media only screen and (max-width: 1480px){
  [class*="col-"] {
    width: 100%;
  }
  .logo{
    position: relative;
  }
  .header{
    text-align: center;
  }
  
  
}

@media only screen and (max-width: 980px) {
  [class*="col-"] {
      width: 100%;
    }
    
    .logo{
      position: relative;
    }
    .me{
      width:175px;
      height:175px;
    }
    .header{
      text-align: center;
    }
    
    
    
   
  
    
    
 
}
@media only screen and (max-width: 768px) {
  [class*="col-"] {
      width: 100%;
    }
    .a{
      font-size:50px;
    }
    .me{
      width:150px;
      height:150px;
    }
    .curtain__wrapper{
      width:0%;
      height:0%;
    }
    .curtain__panel{
      width:0%;
      height:0%;
    }
    .curtain{
      width:0%;
      height:0%;
    }
    .header3{
      display:none;
    }
    .header{
    
      text-align: center;
      font-size: 50px;
    }
    .links{
      position:fixed;
    }
    .logo{
      position:relative;
      width:125px;
      height:95px;
    }
    
    

  
  }
  
 
  

@media only screen and (max-width: 640px) {
      [class*="col-"] {
          width: 100%;
        }
        .a{
          flex-direction: column;
          
        }
        .col-md-4 {
        
          display:flex;
          flex-direction: column;
          justify-content: center;
          
          
      }
      .me{
        width: 50px;
        height: 50px;
      }
      .aboutme{
        padding-left: 15px;
      }
      .header{
        text-align: center;
      }
      
   
  }
 


